In [1]:
lst = [xx for xx in range(1,9)]#[1,2,3,4,5,6,7,8]

In [2]:
lst

[1, 2, 3, 4, 5, 6, 7, 8]

In [3]:
lst.pop()

8

In [4]:
lst

[1, 2, 3, 4, 5, 6, 7]

In [5]:
lst.pop(0)

1

In [6]:
lst

[2, 3, 4, 5, 6, 7]

In [7]:
lst.append(lst.pop(0))

In [8]:
lst

[3, 4, 5, 6, 7, 2]

In [12]:
n,k = map(int, input("n과 k를 컴마로 구분해서 입력하세요").split(','))
princess=list(range(1,n+1))

while princess:
    for _ in range(k-1):
         princess.append(princess.pop(0))
    print(princess)        
    print("빠지는 왕자는",princess.pop(0))
    if len(princess) == 1:
        print("공주를 구할 남자는",princess[0],"번째 왕자 입니다.")
        princess.pop(0) # break

n과 k를 컴마로 구분해서 입력하세요20,7
[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 1, 2, 3, 4, 5, 6]
빠지는 왕자는 7
[14, 15, 16, 17, 18, 19, 20, 1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13]
빠지는 왕자는 14
[1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20]
빠지는 왕자는 1
[9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 2, 3, 4, 5, 6, 8]
빠지는 왕자는 9
[17, 18, 19, 20, 2, 3, 4, 5, 6, 8, 10, 11, 12, 13, 15, 16]
빠지는 왕자는 17
[5, 6, 8, 10, 11, 12, 13, 15, 16, 18, 19, 20, 2, 3, 4]
빠지는 왕자는 5
[15, 16, 18, 19, 20, 2, 3, 4, 6, 8, 10, 11, 12, 13]
빠지는 왕자는 15
[4, 6, 8, 10, 11, 12, 13, 16, 18, 19, 20, 2, 3]
빠지는 왕자는 4
[16, 18, 19, 20, 2, 3, 6, 8, 10, 11, 12, 13]
빠지는 왕자는 16
[8, 10, 11, 12, 13, 18, 19, 20, 2, 3, 6]
빠지는 왕자는 8
[20, 2, 3, 6, 10, 11, 12, 13, 18, 19]
빠지는 왕자는 20
[13, 18, 19, 2, 3, 6, 10, 11, 12]
빠지는 왕자는 13
[11, 12, 18, 19, 2, 3, 6, 10]
빠지는 왕자는 11
[10, 12, 18, 19, 2, 3, 6]
빠지는 왕자는 10
[12, 18, 19, 2, 3, 6]
빠지는 왕자는 12
[19, 2, 3, 6, 18]
빠지는 왕자는 19
[6, 18, 2, 3]
빠지는 왕자는 6
[18, 2, 3]
빠지는 왕자는 18
[2, 3]
빠지는 왕자는 2
공주를 구할 남자는 3 번째 왕자 입니다.

In [14]:
princess

NameError: name 'princess' is not defined

In [18]:
lst = [1,2,3,4,5,6,7,8]

In [2]:
lst.remove(1)

In [3]:
lst

[2, 3, 4, 5, 6, 7, 8]

In [19]:
for i in range(len(lst),0,-1):
    print(i)
    lst.remove(i)
    print(lst)

8
[1, 2, 3, 4, 5, 6, 7]
7
[1, 2, 3, 4, 5, 6]
6
[1, 2, 3, 4, 5]
5
[1, 2, 3, 4]
4
[1, 2, 3]
3
[1, 2]
2
[1]
1
[]

In [3]:
:
lst

[2, 4, 6, 8]

In [20]:
n,k = map(int, input("n과 k를 컴마로 구분해서 입력하세요").split(','))
princess=list(range(1,n+1))

while princess:
    for _ in range(k-1):
         princess.append(princess.pop(0))
    print(princess)        
    print("빠지는 왕자는",princess.pop(0))
    if len(princess) == 1:
        print("공주를 구할 남자는",princess[0],"번째 왕자 입니다.")
        princess.pop(0) # break

n과 k를 컴마로 구분해서 입력하세요8,3
[3, 4, 5, 6, 7, 8, 1, 2]
빠지는 왕자는 3
[6, 7, 8, 1, 2, 4, 5]
빠지는 왕자는 6
[1, 2, 4, 5, 7, 8]
빠지는 왕자는 1
[5, 7, 8, 2, 4]
빠지는 왕자는 5
[2, 4, 7, 8]
빠지는 왕자는 2
[8, 4, 7]
빠지는 왕자는 8
[4, 7]
빠지는 왕자는 4
공주를 구할 남자는 7 번째 왕자 입니다.

In [ ]:
from collections import deque
n,k = map(int, input("n과 k를 컴마로 구분해서 입력하세요").split(','))
princess=list(range(1,n+1))
dq=deque(princess)

while princess:
    for _ in range(k-1):
        dq.append(dq.popleft())
    dq.popleft()
    if len(dq) == 1:
        print("공주를 구할 남자는",dq[0],"번째 왕자 입니다.")
        break

In [10]:
f=open("창고정리2.txt","r")
n=int(f.readline())
a = list(map(int,f.readline().split()))
m = int(f.readline())
print(n,a,m)
a.sort()
for _ in range(m):
    a[0]+=1
    a[L-1]-=1
    a.sort()

print(a[L-1]-a[0])
f.close()

20 [56, 80, 91, 56, 36, 97, 47, 15, 12, 70, 40, 71, 66, 10, 12, 68, 72, 38, 31, 55] 150
1

In [9]:
m

150

In [19]:
with open("창고정리1.txt") as f:
    n = int(f.readline())
    ar = list(map(int,f.readline().split()))
    k = int(f.readline())
    ar.sort()
    print(ar)
    for _ in range(k):
        ar[0] +=1
        ar[-1] -=1
        print(ar)
        ar.sort()
        
print(ar[-1]-ar[0])

[14, 40, 42, 65, 68, 69, 76, 76, 81, 87]
[15, 40, 42, 65, 68, 69, 76, 76, 81, 86]
[16, 40, 42, 65, 68, 69, 76, 76, 81, 85]
[17, 40, 42, 65, 68, 69, 76, 76, 81, 84]
[18, 40, 42, 65, 68, 69, 76, 76, 81, 83]
[19, 40, 42, 65, 68, 69, 76, 76, 81, 82]
[20, 40, 42, 65, 68, 69, 76, 76, 81, 81]
[21, 40, 42, 65, 68, 69, 76, 76, 81, 80]
[22, 40, 42, 65, 68, 69, 76, 76, 80, 80]
[23, 40, 42, 65, 68, 69, 76, 76, 80, 79]
[24, 40, 42, 65, 68, 69, 76, 76, 79, 79]
[25, 40, 42, 65, 68, 69, 76, 76, 79, 78]
[26, 40, 42, 65, 68, 69, 76, 76, 78, 78]
[27, 40, 42, 65, 68, 69, 76, 76, 78, 77]
[28, 40, 42, 65, 68, 69, 76, 76, 77, 77]
[29, 40, 42, 65, 68, 69, 76, 76, 77, 76]
[30, 40, 42, 65, 68, 69, 76, 76, 76, 76]
[31, 40, 42, 65, 68, 69, 76, 76, 76, 75]
[32, 40, 42, 65, 68, 69, 75, 76, 76, 75]
[33, 40, 42, 65, 68, 69, 75, 75, 76, 75]
[34, 40, 42, 65, 68, 69, 75, 75, 75, 75]
[35, 40, 42, 65, 68, 69, 75, 75, 75, 74]
[36, 40, 42, 65, 68, 69, 74, 75, 75, 74]
[37, 40, 42, 65, 68, 69, 74, 74, 75, 74]
[38, 40, 42, 65, 68, 69, 74, 74, 74, 74]
[39, 40, 42, 65, 68, 69, 74, 74, 74, 73]
[40, 40, 42, 65, 68, 69, 73, 74, 74, 73]
[41, 40, 42, 65, 68, 69, 73, 73, 74, 73]
[41, 41, 42, 65, 68, 69, 73, 73, 73, 73]
[42, 41, 42, 65, 68, 69, 73, 73, 73, 72]
[42, 42, 42, 65, 68, 69, 72, 73, 73, 72]
[43, 42, 42, 65, 68, 69, 72, 72, 73, 72]
[43, 42, 43, 65, 68, 69, 72, 72, 72, 72]
[43, 43, 43, 65, 68, 69, 72, 72, 72, 71]
[44, 43, 43, 65, 68, 69, 71, 72, 72, 71]
[44, 43, 44, 65, 68, 69, 71, 71, 72, 71]
[44, 44, 44, 65, 68, 69, 71, 71, 71, 71]
[45, 44, 44, 65, 68, 69, 71, 71, 71, 70]
[45, 44, 45, 65, 68, 69, 70, 71, 71, 70]
[45, 45, 45, 65, 68, 69, 70, 70, 71, 70]
[46, 45, 45, 65, 68, 69, 70, 70, 70, 70]
[46, 45, 46, 65, 68, 69, 70, 70, 70, 69]
[46, 46, 46, 65, 68, 69, 69, 70, 70, 69]
[47, 46, 46, 65, 68, 69, 69, 69, 70, 69]
[47, 46, 47, 65, 68, 69, 69, 69, 69, 69]
[47, 47, 47, 65, 68, 69, 69, 69, 69, 68]
[48, 47, 47, 65, 68, 68, 69, 69, 69, 68]
[48, 47, 48, 65, 68, 68, 68, 69, 69, 68]
[48, 48, 48, 65, 68, 68, 68, 68, 69, 68]
[49, 48, 48, 65, 68, 68, 68, 68, 68, 68]
[49, 48, 49, 65, 68, 68, 68, 68, 68, 67]
20

In [13]:
ar

[14, 40, 42, 65, 68, 69, 76, 76, 81, 87]